.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro>div{
    flex-basis: 49%;    
}

.intro img{
    --left: -2rem;
    --bottom: -2rem;
}

.intro h2{
    font-size: 4rem;
    font-weight: 800;
    color: var(--color-dark3);
    margin-bottom: 0;
}

.intro>div> p{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-dark3);
    line-height: 1.7;
}

.intro a{
    display: flex;
    background-color: var(--color-dark3);
    align-items: center;
    color: var(--color-light);
}

.buttons svg{
    padding: 0 0.5rem;
}

.buttons{
    display: flex;
    gap: 2rem;
    margin: 3rem 0;
}

.buttons a{
    display: flex;
    padding: 0.25rem 1.5rem;
    border-radius: 0.85rem;
}
.buttons a p {
    line-height: 1.375;
    font-weight: 700;
}