@font-face {
  font-family: "Thicccboi";
  src: url("../Font/THICCCBOI-Regular.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Thicccboi";
  src: url("../Font/THICCCBOI-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Thicccboi";
  src: url("../Font/THICCCBOI-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Thicccboi";
  src: url("../Font/THICCCBOI-Medium.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Thicccboi";
  src: url("../Font/THICCCBOI-Medium.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root{
  --color-dark: black;
  --color-light: white;
  --color-dark2: #676788; 
  --color-dark3: #050229;
  --max-width: 1250px;
  --svg-color: #C8C8D5; 
  --bg-light2 : #f9f9fb;
}

/* switch to dark mode color */
@media (prefers-color-scheme: light) {
  :root{
    --color-dark2: #f9f9fb; 
    --color-dark3: #f9f9fb;
    --svg-color: #C8C8D5; 
    --bg-light2 : #f9f9fb;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-dark3);
  font-family: "Thicccboi", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section,footer{
  max-width: var(--max-width);
  margin: 0 auto;
}

#Earn img {
  --left: 0;
  --bottom: 0;
  width: 100%;
  object-fit: contain;
  position: relative;
  left: var(--left);
  bottom: var(--bottom);
}
#trade-img>div,#trade-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

#trade-img img {
  margin: 3rem auto;
  width: 80%;
  object-fit: scale-down;
  max-width: 50%;
  position: relative;
  box-shadow: 0 12px 74px 0 rgba(5,2,41,.16);
  border-radius: 3rem;
}